RewriteEngine On

RewriteBase /

RewriteCond %{HTTP_HOST} !^www.spickermann.com$ [NC]
RewriteRule ^(.*)$ http://www.spickermann.com/$1 [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^([^/]+)/$ $1.html
